.hero {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;

    @media (max-width: 768px) {
        margin-bottom: 4em;
    }

    &__background {
        min-height: 72vh;
        background-image: url(../image/capa.jpg);
        background-size: cover;
        background-color: #013f88;
    }

    .button {
        margin-top: 2vw;
    }

    &__content {
        max-width: 750px;
        padding-left: 2em;
        margin-top: 0; // Sem margem no topo

        @media (max-width: 768px) {
            margin-top: 0; // Sem margem no topo para mobile
            max-width: 100%;
        }

        p {
            color: #ffffff;
            text-decoration: bold;
            margin-top: 2vw;

            @media (max-width: 768px) {
                margin-bottom: 20px;
            }
        }

        button {
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}